

#login{
    width: 600px;
    height: 375px;
    margin: 80px auto 0px;
    background-color: #FFFFFF;
    opacity: .95;
    border-radius: 40px;
}

#logTitle{
    font-family: 'Open Sans', sans-serif;
    color: #282946;
    text-decoration: none;
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    letter-spacing: 15px;
    padding-top: 40px;
    line-height: 1;
    /* text-shadow: #FFFFFF 3px 2px 0; */
    position: relative;
    
}


.inputfields{
    font-size: 30px;
    height: 40px;
    width: 500px;
    margin-top: 20px;
    margin-left: 50px;
    font-weight: 10;  
    letter-spacing: 1px;    
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}


#loginButton{
    height: 40px;
    width: 180px;
    font-size: 30px;
    font-weight: bold;
    color: #282946;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
}
h3{
    /* display: inline-block; */
    margin-left: 279px;
    margin-top: -18px;
    font-weight: 10;
    font-family: 'Open Sans', sans-serif;
    
}
.error{
    display: inline-block;
    width: auto;
    color: red;
    margin-left: 18px;
    margin-right: -37px;
}

::-webkit-input-placeholder { 
    color: #D8D8D8;
    text-align: center;
}
::-moz-placeholder { 
    color: #D8D8D8;
    text-align: center;
}
:-ms-input-placeholder { 
    color: #D8D8D8;
    text-align: center;
}
:-moz-placeholder { 
    color: #D8D8D8;
    text-align: center;
}