/* #container{
    background-color: #BEBEBE;
    height: 1100px;
    width: 1100px;

}

#logo{
    background-color: lightgray;
    height: 250px;
    width: 700px;
    margin: 0px auto;
}

#registrationBox{
    width: 700px;
    height: 600px;
    margin: 80px auto 0px;
    background-color: #B6B6B6;
    box-shadow: 7px 7px gray;
} */

#login{
    width: 700px;
    height: 600px;
    margin: 80px auto 0px;
    background-color: #C9C9C9;
}

#logTitle{
    font-family: 'Open Sans', sans-serif;
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    letter-spacing: 15px;
    padding-top: 50px;
    line-height: 1;
    /* text-shadow: #FFFFFF 3px 2px 0; */
    position: relative;
    
}


.inputfields{
    font-size: 30px;
    height: 60px;
    width: 600px;
    margin-top: 20px;
    margin-left: 50px;
    text-transform: uppercase;  
    font-weight: 10;  
    letter-spacing: 1px;    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}


#loginButton{
    height: 60px;
    width: 200px;
    font-size: 30px;
    font-weight: 1000;
    margin-top: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
}
h3{
    display: inline-block;
    margin-left: 350px;
    margin-top: 0px;
}

::-webkit-input-placeholder { 
    color: #D8D8D8;
    text-align: center;
}
::-moz-placeholder { 
    color: #D8D8D8;
    text-align: center;
}
:-ms-input-placeholder { 
    color: #D8D8D8;
    text-align: center;
}
:-moz-placeholder { 
    color: #D8D8D8;
    text-align: center;
}