<div id="container">
  <div id="headerbar">
    <button [routerLink]="['/home']" id="logo"></button>
    <a id="logoutLink" [routerLink]="['/']">Logout</a>
  </div>
  
  <h1>Tell us about your team.</h1>

  <div id="pickNameWrap">
    <h2>Team name</h2>
    <input id="teamNameField" type="text" [(ngModel)]="newTeam.teamName" name="teamName" required minlength="2">
  </div>


  <div id="descriptionWrap">
    <h2>Write a short description about your team</h2>
    <input id="descriptionField" type="text" name="description" [(ngModel)]="newTeam.description">
  </div>

  <div id="inviteSectionWrap">
      <div id="inviteWrap">
        <h3>Invite friends to join your new team!</h3>
        <button class="invitee" *ngFor="let user of allUsers, let idx = index" (click)="selectTeamMember(idx)">	&#x2b; {{ user.username }}</button>
      </div>

      <div id="invitedWrap">
        <h3>Friends to be invited</h3>
          <button class="invitee" *ngFor="let selectedTeamMember of selectedUsers, let idx = index" name="members" (click)="unselectTeamMember(idx)"
            [(ngModel)]="newTeam.members" ngDefaultControl>&#x2212; {{ selectedTeamMember.username }}</button>
      </div>
  </div>

  <br><br>
  <button id="createTeamButton" (click)="createTeam()">Create</button>

</div>


