#container{
    /* height: auto;
    width: auto; */
    background-color: #FFD1D1;
    height: 850px;
    width: 1000px;
    position: fixed;
}

#topBar{
    display: inline-block;
    height: 40px;
    width: 850vh;
    background-color: #FFFCF1;
    position: relative;
}
#teamName{
    color: white;
}

#leftBar{
    vertical-align: top;
    text-align: center;
    display: inline-block;
    height: 900vh;
    width: 230px;
    background-color: #282946;
}


#mainArea{
    display: inline-block;
    height: 900vh;
    width: 900vh;
    background-color: #E7E7E7;
    position: fixed;
}