#container{
    height: 1200px;
    width: auto;
    background-color: cornsilk;
}

#topBar{
    height: 100px;
    width: auto;
    background-color: white;
}

#leftbar{
    height: 1200px;
    width: 300px;
    background-color: #282946;
}


#mainArea{
    height: 1000px;
    width: 800px;
    background-color: silver;
}