<div id="container">
    <div id="headerbar">
        <div id="logo"></div>
    </div>
    <h1>Prepare your palms.</h1>
    <div id="buttonContainer">
        <button [routerLink]="['/createTeam']">
            <h3 class="buttonTitle">Create a new team</h3>
            <p>Start a new space for your friends.</p>
        </button>
        <button [routerLink]="['/joinTeam']">
            <h3 class="buttonTitle">Find your team</h3>
            <p>Join an existing team.</p>
        </button>
    </div>
</div>
  
  
  