#container{
    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px); */
    background-image: url(../landing/static/smacktalkerspic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1200px;
    /* padding-top: 100px; */
}

#headerbar{
    height: 90px;
    /* padding-top: 20px; */
    width: auto;
}

#logo{
    height: 100px;
    width: 210px;
    background-color: #282946;
    background-image: url(../landing/static/smacktestlogo.png);
    background-size: cover;
    border-radius: 40px;
    opacity: .95;
    /* margin-left: 20px; */
    margin: 20px 0px 30px 20px;
    border: none;
    
}

#logoutLink{
    vertical-align: top;
    font-size: 20px;
    display: inline-block;
    color: white;
    position: absolute;
    top: 25px;
    right: 25px;
}

#buttonContainer{
    height: 400px;
    width: 500px;
    margin: 0px auto;
}
h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;    
    color: #282946;   
}

.buttonTitle{
    color: #282946;   
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;    
    
}
p{
    color: #282946;   
    font-size: 20px;
    font-weight: 250;
    font-family: 'Open Sans', sans-serif;        
}

button{
    color: #282946;     
    height: 200px;
    width: 500px;
    margin: 30px auto;
    background-color: white;
    /* background-image: url(./static/smacktestlogo.png); */
    /* background-size: cover; */
    border-radius: 40px;
    opacity: .95;
    
}