*{
    font-family: 'Open Sans', sans-serif;
    
}

#container{
    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px); */
    background-image: url(../landing/static/smacktalkerspic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1200px;
}

#headerbar{
    height: 90px;
    width: auto;
}

#logo{
    height: 100px;
    width: 210px;
    background-color: #282946;
    background-image: url(../landing/static/smacktestlogo.png);
    background-size: cover;
    border-radius: 40px;
    opacity: .95;
    margin: 20px 0px 30px 20px;
    border: none;
    
}

#logoutLink{
    vertical-align: top;
    font-size: 20px;
    display: inline-block;
    color: white;
    position: absolute;
    top: 25px;
    right: 33px;
    text-decoration: none;
}

#searchBox{
    height: 40px;
    width: 500px;
    font-size: 30px;
    font-weight: 10;  
    letter-spacing: 1px;    
    text-align: center;
    position: relative;
}

#displayTeams{
    height: 200px;
    width: 500px;
    background-color: white;
    opacity: .9;
    margin: 0px auto;
    position: relative;
    border: 3px solid #282946;
    overflow: scroll;
}
.listedTeam{
    padding-left: 10px;
}

#searchContainer{
    height: 80px;
    width: 505px;
    margin: 0px auto;
}

h1{
    text-align: center;
    font-size: 40px;
    color: #282946;   
}

.buttonTitle{
    color: #282946;   
    font-size: 30px;
}
p{
    color: #282946;   
    font-size: 20px;
    font-weight: 250;
}

#joinButtonBox{
    height: 50px;
    width: 300px;
    margin: 30px auto;
}

/* #joinButton{
    height: 40px;
    width: 180px;
    font-size: 30px;
    font-weight: bold;
    color: #282946;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#joinButton:active{
    background-color: #282946;
    color: white;
} */
/* <div id="joinButtonBox">
<button id="joinButton">Join</button>
</div> */